body{
    background-color: #ffffff;
}

.logo{
    width:auto;
    height:auto;
    max-height:125px;
}
.center{
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.left{
    float:left;
}
.right{
    float:right;
}
.textleft{
    text-align:left;
}
.textright{
    text-align:right;
}
#previousmonth,#nextmonth{
    cursor:pointer;
    font-weight:bold;
}
.about{
    padding:10px 10px;
    background-color: #ffffff;
    color: #000000;
}
.abouttext{
    padding:10px;
    text-align: justify;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.imageabout{
    position:relative;
    padding:20px;
    overflow:hidden;
}
.imageabout .block{
    position: absolute;
    height: 85%;
    width: 85%;
    top: 0px;
    background-color: #000000;
    z-index: 0;
    left: -4px;
}
.imageabout img{
    z-index: 1;
    position: inherit;
}
.option{
    text-align:center;

}
.services{
    /* The image used */
    background-image: url("/images/barbershop.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    /*filter:blur(20px);*/
    text-shadow: 1px 1px 4px black;
    postion:relative;
}
.widebtn{
    margin:10px 0px;
    width: 100%;
}
.bwidth{
    width:80%;
    margin:auto;
}
.backbtn{
    text-decoration:none;
    color:black;
    font-weight:600;
}
.useredidform{
    display: flex;
    justify-content: center;
}
.useredidform form{
    text-align:right;
}
.accountbtns{
    display: flex;
    align-items: center;
    justify-content: right;
}
#home .accountbtns .btn{
    color: #000000;
}
.banner{
    height:700px;
    width:100%;
    background-color: #000;
    overflow:hidden;
    position:relative;
    top:0px;
    /*margin-top:-250px;*/
}
.banner a{
    text-decoration:none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner a h1{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 50px;
    text-shadow: 2px 2px 3px #000;
    border-radius: 8px;
    border: solid 1px black;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.4);
}
.banner a h1:hover{
    color: #ffffff;
    text-shadow: unset;
    background-color: #000;
}
.banner img{
    width: 100%;        /* fill container width */
    height: 100%;       /* fill container height */
    object-fit: cover;
    object-position: 0% 80%;
    /*rotate: -48deg;*/
    filter: brightness(75%);
}
#home .header{
    /*background-color: rgba(0, 0, 0, 0.4);*/
    /*background-color: rgba(255, 255, 255, 0.51);*/
    background-color: #FFFFFF;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /*position:fixed;*/
    position:sticky;
    top:0px;
    z-index:1;
    width:100%;
}
#home .navlink a{
    text-decoration: none;
    color: #000000;
}
.navcont{
    width:100%;
    left:0px;
    color:black;
    border-top:1px solid black;
    border-bottom:1px solid black;
}
.nav{
    justify-content: center;
    left:0px;
}
.navlink{
    padding:10px;
    text-decoration:none;
}
.navlink a{
    text-decoration: none;
    color: #000000;
}
.navlink.active a{
    text-decoration: none;
    font-weight:bold;
}
.navlink:hover{
    /*text-decoration:underline;*/
}

.cta{
    text-align:center;
    background-color:#80808038;
    border-bottom:1px solid black;
    justify-content: center;
    backdrop-filter: blur(10px);
}
.owl-carousel .owl-item {
    padding: 5px 0px;
}
label{
    padding:5px 0px;
}
.greytext{
    color: #979797;
}
.userstable {
    width: 100%;
}
.barberdates{
    margin:auto;
    margin-top:20px;
    max-width: 800px;
}
.barberdates input{
    display: none;
}
.barberdates td{
    cursor: pointer;
}
.barberdates th{
    height: 40px;
}
.barberdates td{
    font-size: 18px;
    height: 110px;
    width: 110px;
}
.barberdates td, .barberdates th{
    text-align:center;

    padding:5px;
    border:solid 1px black;
}
.barberdates td.selected{
    background-color:#3b3;;
}
td.disabled{
    background-color: #afafaf;
}
.b{
    font-weight:bold;
}
.nomargin{
    margin:0;
}
.appointmentindex .col,.revenueindex .col{
    text-align:center;
}
.appointmentindex .col,.revenueindex .col{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}
.filters{
    background-color: #eaeaea;
    padding: 0px 10px;
    margin-top:25px;
}
.filters .label{
    padding:0px 5px;
}